.bs_inlineStatusUpdate{
	display: none;
}

.bs_inlineStatusUpdate button{
	border-radius: 1px;
	background:  #ecf0f1;
	border-color: #7f8c8d;
	color: #000000;
	-webkit-transition: color 1s, background 1s, border-color 1s;
	-moz-transition: color 1s, background 1s, border-color 1s;
	-o-transition: color 1s, background 1s, border-color 1s;
	transition: color 1s, background 1s, border-color 1s;
}

.bs_inlineStatusUpdate button:hover{
	border-radius: 2px;
	background:  #c0392b;
	border-color: #e74c3c;
	border-radius: 1px;
	color: #FFFFFF;
}

#tasklist_table tbody tr:hover .bs_inlineStatusUpdate{
	display: block;
}