.bs_inlineStatusUpdate{
	min-width: 200px;
	max-width: 700px;
	position: fixed;
	z-index: 2;
	display: none;
	padding: 5px;
	background: #ecf0f1;
	border: 1px solid #bdc3c7;
	box-shadow: 3px 3px 5px #95a5a6;
}

.bs_inlineStatusUpdate button{
	border-radius: 1px;
	background:  #ecf0f1;
	border-color: #7f8c8d;
	color: #000000;
	-webkit-transition: color 1s, background 1s, border-color 1s;
	-moz-transition: color 1s, background 1s, border-color 1s;
	-o-transition: color 1s, background 1s, border-color 1s;
	transition: color 1s, background 1s, border-color 1s;
}

.bs_inlineStatusUpdate button:hover{
	border-radius: 2px;
	background:  #c0392b;
	border-color: #e74c3c;
	border-radius: 1px;
	color: #FFFFFF;
}

.bs_inlineArrow{
	width: 40px;
	height: 100%;
	display: inline-block;
}

.bs_inlineArrow span{
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left: 10px;
	border-left: 7px solid #7f8c8d;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	display: inline-block;
}

.bs_inlineStatus{
	margin-left: 2px;
	padding: 2px;
	border: 1px solid #27ae60;
	background: #2ecc71;
	color: white;
}