/*
-Statuses
  -Cleared --> #2ecc71 --> bs_cleared
  -Marked as dupe --> #e74c3c --> bs_duped
  -Bookmarked --> #8e44ad --> bs_bookmarked
*/

.bs_listItem{
	font-weight: bold;
}

.bs_cleared{
	color: #2ecc71 !important;
}

.bs_duped{
	color: #e74c3c !important;
}

.bs_bookmarked{
	color: #8e44ad !important;
}

.bs_button{
	height: 30px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 1px;
	color: #FFFFFF;
}

.bs_clearButton{
	border-color: #27ae60;
	background: #2ecc71;
}

.bs_dupeButton{
	border-color: #c0392b;
	background: #e74c3c;
}

.bs_bookmarkButton{
	border-color: #8e44ad;
	background: #9b59b6;
}

.bs_removeButton{
	border-color: #bdc3c7;
	background: #ecf0f1;
	color: #000000;
}
