@import url(http://fonts.googleapis.com/css?family=Duru+Sans|Carrois+Gothic+SC);
.flatButton{
	display: inline-block;
	line-height: 25px;
	padding: 5px;
	background-color: #3fb8e8;
	border: none;
	box-shadow: 0px 3px 0px 0px #3293ba;
	border-radius: 3px;
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	outline: 0;
}

.flatButton:active{
	box-shadow: 0px 3px 0px 0px #3fb8e8;
}


.bs_inlineStatusUpdate{
	min-width: 200px;
	max-width: 700px;
	position: fixed;
	z-index: 2;
	display: none;
	padding: 5px;
	background: #ecf0f1;
	border: 1px solid #bdc3c7;
	box-shadow: 3px 3px 5px #95a5a6;
}

.bs_inlineStatusUpdate button{
	border-radius: 1px;
	background:  #ecf0f1;
	border: none;
	color: #FFFFFF;
	-webkit-transition: color 1s, background 1s, border-color 1s;
	-moz-transition: color 1s, background 1s, border-color 1s;
	-o-transition: color 1s, background 1s, border-color 1s;
	transition: color 1s, background 1s, border-color 1s;
}

.bs_inlineStatusUpdate button:hover{
	border-radius: 2px;
	background:  #c0392b;
	border-radius: 1px;
	border: none;
	color: #000000;
}

.bs_detailedStatuses button{
	border-radius: 1px;
	background:  #ecf0f1;
	border: none;
	color: #FFFFFF;
	-webkit-transition: color 1s, background 1s, border-color 1s;
	-moz-transition: color 1s, background 1s, border-color 1s;
	-o-transition: color 1s, background 1s, border-color 1s;
	transition: color 1s, background 1s, border-color 1s;
	border-radius: 2px;
}

.bs_detailedStatuses button:hover{
	border-radius: 2px;
	background:  #c0392b;
	border-radius: 1px;
	border: none;
	color: #000000;
}

.bs_detailedStatus{
	height: 30px;
	line-height: 30px;
	padding: 10px;
	display: inline-block;
	color: #FFFFFF;
	border-radius: 2px;
}

.bs_inlineArrow{
	width: 40px;
	height: 100%;
	display: inline-block;
}

.bs_inlineArrow span{
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left: 10px;
	border-left: 7px solid #7f8c8d;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	display: inline-block;
}

.bs_inlineStatus{
	margin-left: 2px;
	padding: 2px;
	/* border: 1px solid #27ae60; */
	background: #2ecc71;
	color: white;
	border-radius: 2px;
}


/********** Settings **********/
#settings{
	width: 100%;
	padding: 10px;
	background: white;
}

#settings_close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	z-index: 2;
	margin-top: 10px;
	margin-left: calc(100% - 50px);
	float: right;
	border: 2px solid transparent;
	border-radius: 30px;
	color: #e74c3c;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

#settings_close:hover{
	border: 2px solid #E3E3E3;
	font-size: 20px;
}

#settings_menu_pointer{
	width: 0px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	margin-left: 245px; 
	border-left: 5px solid #3498db;
	z-index: 2;
}

#settings_menu{
	width: 250px;
	height: 100%;
	float: left;
	border-right: 1px solid #bdc3c7;
}

#BS_version{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #95a5a6;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.settings_menu_option{
	width: 160px;
	height: 40px;
	line-height: 40px;
	margin: auto;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Duru Sans', sans-serif;
}

#settings_content{
	width: calc(100% - 255px);
	height: 100%;
	float: right;
}

/* Overview Page */
#settings_overview_stats{
	width: 100%;
	margin-top: 200px;
	text-align: center;
	font-size: 30px;
	font-family: 'Carrois Gothic SC', sans-serif;
}

/* 		Task list */
#settings_overview_tasksList{
	width: 400px;
	max-height: 350px;
	margin-top: 20px;
	margin-left: 12%;
	float: left;
	border: 1px solid #95a5a6;
	border-radius: 1px;
}

#settings_overview_tasksList .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
}

#settings_overview_tasksList .task{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #bdc3c7;
}

#settings_overview_tasksList .task .task_id{
	float: left;
	margin-left: 5px;
	overflow: hidden;
}

#settings_overview_tasksList .task .task_summary{
	margin-left: 20px;
	text-align: center;
}

#settings_overview_tasksList .task .task_status{
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	float: right;
	margin-right: 5px;
	overflow: hidden;
	background: #2ecc71;
	color: white;
	border-radius: 2px;
}

/* 		Statuses list */
#settings_overview_statusesList{
	width: 400px;
	max-height: 350px;
	margin-top: 20px;
	margin-right: 12%;
	float: right;
	border: 1px solid #95a5a6;
	border-radius: 1px;
}

#settings_overview_statusesList .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
}

#settings_overview_statusesList .status{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #bdc3c7;
}

#settings_overview_statusesList .status .status_name{
	width: 30%;
	margin-left: 20%;
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

#settings_overview_statusesList .status .status_shared{
	text-align: center;
}

#settings_overview_statusesList .status .status_color{
	width: 60px;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	float: right;
	margin-right: 5px;
	overflow: hidden;
	background: #2ecc71;
	color: white;
	border-radius: 2px;
}


/* Tasks Page */
.settings_tasks_tracking{
	font-size: 20px;
	font-family: 'Carrois Gothic SC', sans-serif;
}

.settings_tasks_taskList{
	width: 100%;
}

.settings_tasks_taskList .header{
	width: 100%;
	border-bottom: 1px solid #95a5a6;
}

.settings_tasks_taskList .header .task{
	width: 100%;
	border-top: none;
}


.settings_tasks_taskList .task{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #bdc3c7;
	cursor: pointer;
}

.settings_tasks_taskList .task .id{
	width: 30%;
	text-align: center;
	display: inline-block;
}

.settings_tasks_taskList .task .summary{
	width: 30%;
	text-align: center;
	display: inline-block;
}

.settings_tasks_taskList .task .status{
	width: 30%;
	text-align: center;
	display: inline-block;
}

.settings_tasks_taskList .task .status span{
	width: 60px;
	height: 20px;
	line-height: 20px;
	margin-bottom: -5px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
	background: #2ecc71;
	color: white;
	border-radius: 2px;
	display: inline-block;
}


/* Statuses Page */
.settings_statuses_statuses .status .title{
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 10px;
	font-size: 24px;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
	display: inline-block;
}

.settings_statuses_statuses .status button{
	margin-bottom: 5px;
}

.settings_statuses_statuses .status label{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 16px;
	font-family: 'Carrois Gothic SC', sans-serif;
	display: inline-block;
}

.settings_statuses_statuses .status input{
	max-width: 150px;
	padding-left: 0;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
	border: 2px dashed #bdc3c7;
	border-radius: 3px;
	outline: none;
	display: inline-block;
}

.settings_statuses_statuses .status .color{
	color: #FFFFFF;
}

.settings_statuses_statuses .removeStatusButton{
	background: #e74c3c;
	box-shadow: 0px 3px 0px 0px #71170d;
}

.settings_statuses_statuses .removeStatusButton:active{
	box-shadow: 0px 3px 0px 0px #e74c3c;
}

.settings_statuses_statuses .statusDeleteWarning{
	color: #E74C3C;
	font-style: italic;
	font-weight: bold;
	display: none;
}

#addNewStatus label{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 16px;
	font-family: 'Carrois Gothic SC', sans-serif;
	display: inline-block;
}

#addNewStatus input{
	max-width: 150px;
	padding-left: 0;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
	border: 2px dashed #bdc3c7;
	border-radius: 3px;
	outline: none;
	display: inline-block;
}

#addNewStatus button{
	margin-top: 10px;
	margin-left: 20px;
}

/* General Settings */
.settings_settings{
	margin-top: 100px;
}

.settings_settings label{
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	margin-left: 20px;
	font-size: 16px;
	display: inline-block;
}

/* Toggle Switch */
.switch{
	width: 80px;
	height: 27px;
	line-height: 30px;
	margin-bottom: -10px;
	display: inline-block;
	background: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	background: #ecf0f1;
}

.switchSlider{
	width: 120px;
	height: 26px;
	line-height: 26px;
}

.switchState{
	width: 40px;
	text-align: center;
	color: #FFFFFF;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.switchOn{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #7f8c8d;
	float: left;
	background: #428bca;
}

.switchOff{
	float: right;
	background: #bdc3c7;
}